<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      @if (switchPage) {
        <h1>Séries</h1>
      } @else {
        <h1>Films</h1>
      }
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-segment [(ngModel)]="switchPage">
    <ion-segment-button [value]="true">
      <ion-label>Séries</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="false">
      <ion-label>Films</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>
  @if (switchPage) {
    <div class="series">
      <div class="section">
        <div class="section-header">
          <span class="section-title">En Cours</span>
          <ion-icon name="chevron-forward-outline" class="section-arrow"></ion-icon>
        </div>
        <app-list-card [items]="seriesEnCours"></app-list-card>
      </div>

      <div class="section">
        <div class="section-header">
          <span class="section-title">Ma Liste</span>
          <ion-icon name="chevron-forward-outline" class="section-arrow"></ion-icon>
        </div>
        <app-list-card [items]="seriesAjoutes"></app-list-card>
      </div>

      <div class="section">
        <div class="section-header">
          <span class="section-title">Tendances</span>
          <ion-icon name="chevron-forward-outline" class="section-arrow"></ion-icon>
        </div>
        <app-list-card [items]="filmsAjoutes"></app-list-card>
      </div>
    </div>
  }

  @if (!switchPage) {
    <div class="films">
      <div class="section">
        <div class="section-header">
          <span class="section-title">Ma Liste</span>
          <ion-icon name="chevron-forward-outline" class="section-arrow"></ion-icon>
        </div>
        <app-list-card [items]="filmsAjoutes"></app-list-card>
      </div>

      <div class="section">
        <div class="section-header">
          <span class="section-title">Films regardés</span>
          <ion-icon name="chevron-forward-outline" class="section-arrow"></ion-icon>
        </div>
        <app-list-card [items]="filmsVus"></app-list-card>
      </div>

      <div class="section">
        <div class="section-header">
          <span class="section-title">Tendances</span>
          <ion-icon name="chevron-forward-outline" class="section-arrow"></ion-icon>
        </div>
        <app-list-card [items]="filmsAjoutes"></app-list-card>
      </div>
    </div>
  }
</ion-content>
