<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      @if (switchPage) {
        <h1>Séries</h1>
      } @else {
        <h1>Films</h1>
      }
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-segment [(ngModel)]="switchPage">
    <ion-segment-button [value]="true">
      <ion-label>Séries</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="false">
      <ion-label>Films</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>


<ion-content>
  <form [formGroup]="myForm">
    <ion-item>
      <ion-input type="text" formControlName="text" placeholder="Rechercher un film..."></ion-input>
    </ion-item>
  </form>
  <ion-button (click)="onRecherche()">Rechercher</ion-button>

  <app-liste-series [recherche]="recherche"></app-liste-series>


@if (switchPage) {
  <div class="series">

    <div class="list-row">
      <h2 class="list-row-title">Mes séries en cours</h2>
      @for (film of filmsAjoute; track film) {
        <p>{{ film }}</p>
      }
      @if (filmsAjoute.length === 0) {
        <p>Aucune série en cours.</p>
      }
    </div>

    <div class="list-row">
      <h2 class="list-row-title">Ma Liste</h2>
      @for (film of filmsAjoute; track film) {
        <p>{{ film }}</p>
      }
      @if (filmsAjoute.length === 0) {
        <p>Aucune série ajoutée à votre liste.</p>
      }
    </div>

    <div class="list-row">
      <h2 class="list-row-title">Séries regardés</h2>
      @for (film of filmsVus; track film) {
        <p>{{ film }}</p>
      }
      @if (filmsVus.length === 0) {
        <p>Aucune série vu.</p>
      }
    </div>

    <div class="list-row">
      <h2 class="list-row-title">Tendance</h2>
      @for (film of filmsAjoute; track film) {
        <p>{{ film }}</p>
      }
      @if (filmsAjoute.length === 0) {
        <p>erhgiuwdlfsmJefhogilfx</p>
      }
    </div>
  </div>
}
@if (!switchPage) {
  <div class="films">
    <div class="list-row">
      <h2 class="list-row-title">Ma Liste</h2>
      @for (film of filmsAjoute; track film) {
        <p>{{ film }}</p>
      }
      @if (filmsAjoute.length === 0) {
        <p>Aucun films ajouté à votre liste.</p>
      }
    </div>

    <div class="list-row">
      <h2 class="list-row-title">Films regardés</h2>
      @for (film of filmsVus; track film) {
        <p>{{ film }}</p>
      }
      @if (filmsVus.length === 0) {
        <p>Aucun films vu.</p>
      }
    </div>

    <div class="list-row">
      <h2 class="list-row-title">Tendance</h2>
      @for (film of filmsAjoute; track film) {
        <p>{{ film }}</p>
      }
      @if (filmsAjoute.length === 0) {
        <p>erhgiuwdlfsmJefhogilfx</p>
      }
    </div>
  </div>

}
</ion-content>
