<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section">
    <div class="section-header">
      <span class="section-title">En Cours</span>
      <div class="section-underline"></div>
    </div>
    <app-list-card [items]="recemmentVu"></app-list-card>
  </div>

  <div class="section">
    <div class="section-header">
      <span class="section-title">Ma Liste</span>
      <div class="section-underline"></div>
    </div>
    <app-list-card [items]="recemmentAjoute"></app-list-card>
  </div>

  <app-stats [refresh]="refreshStats"></app-stats>
</ion-content>

